.footer-alicorp{

     /* Contenedor del carrusel */
     .carousel-container {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        white-space: nowrap;
        position: relative;
    }

    /* Carrusel de logos */
    .carousel {
        display: flex;
        gap: 2rem;
        animation: scroll 10s linear infinite; /* Animación infinita */
    }

    /* Logos del carrusel */
    .carousel img {
        height: 150px; /* Ajusta el tamaño de los logos */
        max-width: 250px;
        object-fit: contain;
    }

    /* Animación para mover los logos infinitamente */
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    /* Duplicamos los logos para dar efecto de bucle */
    .carousel-wrapper {
        display: flex;
        width: 200%;
    }

    .carousel-wrapper .carousel {
        width: 100%;
    }

    h3{
        font: normal normal bold 70px/50px Golda;
        letter-spacing: 0.8px;
        color: #FB0000;
        opacity: 1;
    }

    .logo-alicorp{
        display: flex;
        justify-content: space-evenly;        
        img{
            width: 250px;
            height: 250px;
        }
    }

    h4{
        color: #ffffff;
        font-size: 1.6rem;
    }

    .redes-sociales{
        color: #ffffff;
        font-size: 1.6rem;
    }

    .service_client,
    .contact{
        margin-top: 20px;
        line-height: 5px;
        p{
            color: #ffffff;
        }
    }

    .contact{
        margin-top: 8px;
    }

    .separador-pie{
        border: none;
        height: 2px;
        background-color: white;
    }
}