@include font-face('Barlow-Regular', 'Barlow-Regular');
@include font-face('Golda', 'Golda'); 

.footer-alicorp{
    .mt-p{
        margin-top: 20rem;
    }
    .seccion2-pie{
        max-height: 50rem;
    }

     /* Contenedor del carrusel */
     .carousel-container {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        white-space: nowrap;
        position: relative;
    }

    /* Carrusel de logos */
    .carousel {
        display: flex;
        gap: 2rem;
        animation: scroll 10s linear infinite; /* Animación infinita */
    }

    /* Logos del carrusel */
    .carousel img {
        height: 150px; /* Ajusta el tamaño de los logos */
        max-width: 250px;
        object-fit: contain;
    }

    /* Animación para mover los logos infinitamente */
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    /* Duplicamos los logos para dar efecto de bucle */
    .carousel-wrapper {
        display: flex;
        width: 200%;
    }

    .carousel-wrapper .carousel {
        width: 100%;
    }

    h3{
        font: normal normal bold 6rem/4rem Golda;
        letter-spacing: 0.8px;
        color: #FB0000;
        opacity: 1;
    }

    .logo-alicorp{
        display: flex;
        justify-content: space-evenly;        
        img{
            width: 250px;
            height: 250px;
        }
    }

    h4,.anio{
        font: normal normal bold 26px/60px Barlow-Regular;
        letter-spacing: 0.26px;
        color: #FFFFFF;
        opacity: 1;
    }
    .anio{
        font: normal normal bold 18px/50px Barlow-Regular;
    }
    .redes-sociales{
        color: #ffffff;
        font-size: 1.6rem;
    }

    .service_client,
    .contact{
        margin-top: 20px;
        line-height: 5px;
        p{
            color: #ffffff;
            font-family: 'Barlow-Regular';
            font-size: 1.7rem;
        }
    }

    .contact{
        margin-top: 8px;
    }

    .separador-pie{
        border: none;
        height: 2px;
        background-color: white;
    }
}