@include font-face('Gotham', 'Gold-Bold');
.juego{
    background-image: url(../img/eventos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .titulo-2{
        margin-top: 17rem;       
        h2{
            color: #EADC75;
            font-size: 3.6rem;
            font-family: "Barlow", serif;
            font-size: bold;
        }
        h3{
            font-size: 'Gold-Bold';
            font-size: 10rem;
            font-size: bold;
            color: #ffffff;
        }
        p{
            margin-top: 2rem;
            font-size: 'Gold-Bold';
            font-size: 3rem;
            font-size: bold;
            color: #ffffff;
            letter-spacing: 0.36px;
            line-height: 3.5rem;
        }
    }

    .img-juego-c{
        margin-top: 12rem;  
    }

}

.juegos{

    .sec-juegos{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .card {
        width: 90%;
        max-width: 300px;
        //background: #fff;
        border-radius: 40px;
        overflow: hidden;/* Para evitar que la imagen "salga" del card */
        display: flex;
        flex-direction: column;
        background: linear-gradient(263deg, rgba(2,0,36,1) 5%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 96%);
        position: relative;
      }

      .img-transicion{
        min-height: 100px;
      }

      .img-transicion{
        display: flex;
        justify-content: end;
        padding-top: 15px;
        padding-right: 15px;
      }
  
      .card img {
        width: 90px;
        object-fit: cover;
        transition: transform 0.5s ease, scale 0.5s ease;
      }

      .card:hover img {
        transform: rotate(-50deg) scale(1.5); /* Rotar a la izquierda (-10 grados) y agrandar (1.2 veces) */
      }

      .galletex{
        transition: transform 0.3s ease; /* Animación suave */
      }

      .card img.back {
        transform: rotate(10deg) scale(1.2); /* Posición inicial (oculta y girada) */
        opacity: 0; /* Totalmente invisible */
      }

      .card:hover img.back {
        transform: rotate(-50deg) scale(1); /* Girar a su posición normal y ajustar el tamaño */
        opacity: 1; /* Hacer visible la imagen secundaria */
        top: 50px;
        right: -9rem;
      }
  
      .card-content {
        padding: 16px;
      }
  
      .card-title {
        font-family: "Gotham", serif;
        font-size: 3rem;
        margin: 0;
      }
  
      .card-subtitle {
        font-family: "Gold-Bold", serif;
        font-size: 2rem;
        margin: 8px 0;
        color: #ffffff;
      }
  
      .card-footer { 
        padding: 16px;
        background-color: #f0f0f0;
        font-size: 0.9em;
        color: #555;
      }

      .card-3{
        background: linear-gradient(263deg, rgba(36,36,0,1) 0%, rgba(247,232,7,1) 48%, rgba(247,232,7,1) 84%);

        img{
          width: 250px;
          position: absolute;
          top: -90px;
          right: -108px;
        }

        .card-content {
          margin-top: 30px;
          padding: 26px;
        }
    
      }
}
