
@include font-face('Gotham', 'Gold-Bold');
@include font-face('Golda', 'Golda');
@include font-face('Barlow-Regular', 'Barlow-Regular');
.eventos{
    background-image: url(../img/Eventos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;


    .mt-e{
        margin-top: 10rem;
    }
    
    h2{
        font: normal normal bold 7rem/5rem Golda;
        letter-spacing: 0.32rem;
        color: #FFFFFF;
        opacity: 1;
    }

    p{
        font-family: "Barlow", serif;
        font-size: 2.5rem;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        width: 47%;
    }

    .card {
        border-radius: 25px !important;
        overflow: hidden; /* Evita desbordamientos */
        width: 25rem;
        .card-imagen {
            overflow: hidden; /* Oculta partes fuera del contenedor */
            position: relative;
            width: 100%;
            height: 23.3rem;
    
            img {
                border-radius: 25px 25px 0 0;
                object-fit: cover; /* Ajusta la imagen */
                transition: transform 0.3s ease; /* Animación más fluida */
                height: 25rem;
            }
    
            &:hover img {
                transform: scale(1.2); /* Escala la imagen al pasar el mouse */
            }
        }
    }
    

    .card-eventos{
        top: 33rem;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        .card-title{
            font: normal normal bold 2.5rem/3.5rem Golda;
            color: #FB0000;
            opacity: 1;
            line-height: 23px;
        }

        .card-text{
            font: normal normal bold 15px/35px Barlow-Regular;
            letter-spacing: 0px;
            color: #848484;

            width: 100%;
        }

        .btn-evento {
            button {
                border-radius: 15px;
                width: 28%;
                padding: 10px 0;
                background-color: #FB0000;
                border: none;
                color: #FFFFFF;
                transition: background-color 0.3s ease; /* Transición suave */
                
                &:hover {
                    background-color: #FFFFFF;
                    color: #FB0000; /* Cambia el color del texto al hacer hover */
                    border: 1px solid #FB0000;
                }
            }
        }
        
    }
}
.mb-j{
    margin-bottom: 16rem;
}