// Body
$body-bg: #f8fafc;
$color-principal: #FD000D;
$color-secundario: #ED1B2F;
$color-terciario: #868686;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
