@charset "UTF-8";
.juegos {
  margin-bottom: 50rem;
}
.juegos .card .card-body {
  top: 15rem;
  left: 1rem;
}
.juegos .card .card-title {
  color: #FFFFFF !important;
}
.juegos .card-text {
  color: #848484;
  font-size: 1.5rem !important;
}
.juegos .card-footer {
  background-color: transparent !important;
}
.juegos .card-footer .btn {
  border-radius: 10px 10px 10px 10px;
  width: 30%;
}
.juegos .imagenes {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  /* Evita que las imágenes se desborden */
}
.juegos .imagenes .ruleta {
  position: relative;
  right: 5px;
  width: 300px;
  height: 300px;
}
.juegos .image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
.juegos .image2 {
  position: relative;
  top: -60px;
  left: 20px;
  transform: rotate(0deg) scale(0.5);
  /* Inicialmente más pequeña y sin rotar */
  opacity: 0;
  /* Oculta la imagen */
  transition: transform 0.5s ease, opacity 0.5s ease;
  /* Suaviza la transición */
}
.juegos .card:hover .image1 {
  transform: rotate(-10deg) scale(1.2);
  /* Gira 10 grados hacia la izquierda */
  transition: transform 0.3s ease;
  /* Añade una animación suave opcional */
}
.juegos .card:hover .image2 {
  transform: rotate(-20deg) scale(1);
  /* Gira 20 grados hacia la izquierda y escala al tamaño original */
  opacity: 1;
  /* Muestra la imagen */
}
.juegos .roulette {
  position: absolute;
  top: -50px;
  right: -50px;
  background: url("ruleta.png") no-repeat center/cover; /* Cambia 'ruleta.png' por la ruta de tu imagen */
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.juegos .roulette img {
  width: 150px;
  height: 150px;
}

.separador-juegos {
  margin-top: 5rem;
}

.ganados .card-title {
  width: 50%;
}
.ganados .card-text {
  color: #848484;
  font-size: 1.5rem !important;
}
.ganados .card-footer {
  background-color: transparent !important;
}
.ganados .card-footer .btn {
  border-radius: 10px 10px 10px 10px;
  width: 30%;
}

@font-face {
  font-family: "Golda";
  src: url('../fonts/Golda.otf') format('opentype'), url('../fonts/Golda.ttf') format('truetype');
}
@font-face {
  font-family: "Barlow-Regular";
  src: url('../fonts/Barlow-Regular.otf') format('opentype'), url('../fonts/Barlow-Regular.ttf') format('truetype');
}
.promociones {
  max-width: 100%;
}
.promociones .hero-image {
  width: 100%;
  height: auto;
}

.promo1 {
  background-image: url(../img/Eventos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.promo1 .grupo-texto-promo {
  margin-top: 5rem;
}
.promo1 .grupo-texto-promo h2 {
  color: #EADC75;
  font: normal normal bold 3.6rem/12rem Golda;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  letter-spacing: 0.36px;
  opacity: 1;
}
.promo1 .grupo-texto-promo h3 {
  font: normal normal bold 8rem/10rem Golda;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.promo1 .grupo-texto-promo p {
  font: normal normal bold 3rem/4rem Barlow-Regular;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.promo1 .grupo-img-promo {
  margin-top: 15rem;
}
.promo1 .grupo-img-promo img {
  width: 40.6rem;
}

.promo2 {
  background-image: url(../img/seccion-prmo/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 84vh;
  overflow: hidden;
}
.promo2 .grupo-texto-promo2 {
  margin-top: 5rem;
}
.promo2 .grupo-texto-promo2 h2 {
  font: normal normal bold 8rem/10rem Golda;
  letter-spacing: 1px;
  color: #FFFFFF;
  opacity: 1;
}
.promo2 .grupo-texto-promo2 h3 {
  font: normal normal bold 3rem/4rem Barlow;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.promo2 .grupo-img-promo2 {
  margin-top: 15rem;
  position: relative;
}
.promo2 .grupo-img-promo2 img {
  position: absolute;
  width: 57rem;
  right: -9rem;
  top: -9rem;
}
.promo2 .grupo-img-promo2 .avion-promo2 {
  position: absolute;
  width: 48rem;
  right: 72rem;
  top: 19rem;
}
.promo2 .grupo-img-promo2 .grupo-shampos {
  position: relative;
}
.promo2 .grupo-img-promo2 .grupo-shampos .shampo1,
.promo2 .grupo-img-promo2 .grupo-shampos .shampo2,
.promo2 .grupo-img-promo2 .grupo-shampos .shampo3,
.promo2 .grupo-img-promo2 .grupo-shampos .shampo4,
.promo2 .grupo-img-promo2 .grupo-shampos .shampo5 {
  position: absolute;
  width: 35rem;
  left: 22rem;
  top: 19rem;
}
.promo2 .grupo-img-promo2 .grupo-shampos .shampo1 {
  transform: rotate(20deg);
}
.promo2 .grupo-img-promo2 .grupo-shampos .shampo2 {
  transform: rotate(0deg);
  left: 18rem;
}
.promo2 .grupo-img-promo2 .grupo-shampos .shampo3 {
  transform: rotate(-18deg);
  left: 14rem;
}
.promo2 .grupo-img-promo2 .grupo-shampos .shampo4 {
  transform: rotate(-35deg);
  left: 9rem;
  top: 21rem;
}
.promo2 .grupo-img-promo2 .grupo-shampos .shampo5 {
  transform: rotate(-46deg);
  left: 5rem;
  top: 25rem;
}

@font-face {
  font-family: "GoodMorning";
  src: url('../fonts/Gold-Bold.otf') format('opentype'), url('../fonts/Gold-Bold.ttf') format('truetype');
}
.dashboard {
  margin-top: 10rem;
}
.dashboard .margenT25 {
  margin-top: 2.5rem;
}
.dashboard .btn-config {
  margin-top: 3.7rem;
}
.dashboard .bienvenido {
  color: white;
  font-family: "CoprAltMed";
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 5.76rem;
  margin-left: 5.8rem;
  margin-top: 5rem;
}
.dashboard .button {
  font-size: 1.6rem;
  cursor: pointer;
}
.dashboard .button--primary {
  background-color: #3498db;
  color: white;
  padding: 1px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  width: "";
}
.dashboard .button--primary:hover {
  background-color: #217dbb;
}
.dashboard .button--secondary {
  background-color: #2ecc71;
  color: white;
  padding: 1px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  width: "";
}
.dashboard .button--secondary:hover {
  background-color: #25a25a;
}
.dashboard .button--danger {
  background-color: #e74c3c;
  color: white;
  padding: 1px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  width: "";
}
.dashboard .button--danger:hover {
  background-color: #d62c1a;
}
.dashboard .button--perfil {
  background-color: #ffffff;
  color: white;
  padding: 1px;
  border-radius: 1.5rem;
  border: none;
  transition: background-color 0.3s ease;
  width: 16.3rem;
  height: 4rem;
  color: black;
}
.dashboard .button--perfil:hover {
  background-color: "";
}
.dashboard .button--perfil-2 {
  background-color: #ffffff;
  color: white;
  padding: 1px;
  border-radius: 11.5rem;
  border: none;
  transition: background-color 0.3s ease;
  width: 27.5rem;
  height: 7.6rem;
  color: #FD000D;
  font-size: 2rem;
  font-family: "CoprAltMed";
  font-weight: 800;
}
.dashboard .button--perfil-2:hover {
  background-color: "";
}
.dashboard .button .contador {
  font-size: 3rem;
  font-weight: 800;
}
.dashboard .button .parti {
  line-height: 1.6rem;
}
.dashboard .titulo-resultado,
.dashboard .sub-titulo-resultado {
  font-family: "CoprAltMed";
  font-size: 4rem;
  font-weight: 900;
  color: white;
  text-decoration: 2px solid white;
  margin-left: 2rem;
}
.dashboard .sub-titulo-resultado {
  font-size: 2rem;
}
.dashboard .hr-result,
.dashboard .hr-mas {
  background: white;
  height: 0.5rem;
  width: 35rem;
  margin-left: 2rem;
  opacity: 1;
}
.dashboard .hr-mas {
  width: 7.5rem;
}
.dashboard .card-horizontal {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  overflow: hidden;
}
.dashboard .card-horizontal .card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 1.5rem;
}
.dashboard .card-horizontal .card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.dashboard .card-horizontal .card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard .card-horizontal .card-content h3 {
  font-family: "CoprAltBlack";
  font-size: 2.4rem;
  color: #FD000D;
}
.dashboard .card-horizontal .card-content p {
  font-family: "CoprAltBlack";
  font-size: 1.3rem;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}
.dashboard .card-content h3 {
  margin: 0;
  font-size: 1.5rem;
}
.dashboard .card-btn {
  padding: 5px 0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  background-color: #FD000D;
  position: relative;
  left: 62px;
  top: 1rem;
}
.dashboard .paticipaciones {
  padding: 1.5rem;
}
.dashboard .card {
  border-radius: 1.5rem;
}
.dashboard .card .card-title {
  font-family: "CoprAltMed";
  font-size: 2.4rem;
  font-weight: 800;
  color: #FD000D;
}
.dashboard .card .card-text {
  font-family: "CoprAltMed";
  font-size: 2rem;
  font-weight: 800;
  color: #000000;
}
.dashboard .card .card-footer {
  border-top: none;
}
.dashboard .card .card-footer .text-muted {
  font-family: "CoprAltMed";
  font-size: 1.6rem;
}
.dashboard .promos img {
  width: 22rem;
  height: 25rem;
}
.dashboard .juegoPromo {
  z-index: 10;
}
.dashboard .section-promo {
  position: relative;
  width: 100%;
}
.dashboard .img_back {
  position: absolute;
  top: 167px;
  left: -21px;
}
.dashboard .img_back img {
  width: 150rem;
}
.dashboard .sidebar {
  background-color: transparent;
  height: 100vh;
  padding: 15px;
  position: fixed;
  overflow-y: auto;
  z-index: 1050;
}
.dashboard .sidebar img {
  width: 18rem;
  height: 6rem;
}
.dashboard .sidebar a {
  text-decoration: none;
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}
.dashboard .sidebar i {
  padding-right: 1rem;
}
.dashboard .sidebar i,
.dashboard .sidebar span {
  color: #202020;
  font-size: 2rem;
}
.dashboard .main-content {
  margin-left: 400px; /* Ajusta según el ancho del sidebar */
}
.dashboard .main-content h1 {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: bold;
  font-size: 4.5rem;
}
.dashboard .main-content .avatar img {
  height: 12rem;
  width: 12rem;
  border-color: #e74c3c;
}
.dashboard .main-content .fecha_hora p {
  color: #47464A;
  font-size: 1.5rem;
}
.dashboard .main-content .titulo-main p {
  font-family: "Gold-Bold";
  font-size: 3.1rem;
  font-weight: bold;
  color: #FB0000;
}

.pie_dashboard {
  background: #FD000D;
  height: 7.4rem;
}
.pie_dashboard p {
  font-family: "Gotham";
  font-size: 2rem;
  color: white;
}
.pie_dashboard img {
  width: 4.8rem;
  height: 4.8rem;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/Gotham-Black.otf') format('opentype'), url('../fonts/Gotham-Black.ttf') format('truetype');
}
.configuracion {
  background-color: #FD000D;
}
.configuracion h2 {
  padding-top: 70px;
  padding-left: 40px;
  color: white;
  font-family: "CoprAltMed";
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 50px;
}
.configuracion .config {
  background: #FFFFFF;
  width: 333px;
  height: 590px;
  border-top-right-radius: 150px;
}
.configuracion .datos a,
.configuracion .password a {
  display: flex;
  padding-top: 50px;
  padding-left: 30px;
  text-decoration: none;
  color: #000000;
}
.configuracion .datos a img,
.configuracion .password a img {
  width: 24px;
  height: 24px;
}
.configuracion .datos a p,
.configuracion .password a p {
  font-size: 16px;
  margin-left: 10px;
}
.configuracion .password a {
  padding-top: 0;
}
.configuracion .config-edit {
  margin-left: 150px;
}
.configuracion .config-edit h3 {
  color: #FFFFFF;
  font-family: "CoprAltMed";
  font-size: 36px;
  font-weight: 900;
}
.configuracion .config-edit .hr-config {
  opacity: 2;
  color: #FFFFFF;
  height: 4px;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 60px;
}
.configuracion .config-edit .custom-col-4 {
  width: 9.33333%;
}
.configuracion .config-edit .col-form-label {
  color: #FFFFFF;
  font-size: 16PX;
  font-family: "CoprAltMed";
}
.configuracion .config-edit .form-control {
  border-radius: 16px;
  background-color: #D9D9D9;
  border-color: 0;
  height: 30px;
}
.configuracion .config-edit .boton-update {
  display: flex;
  justify-content: end;
}
.configuracion .config-edit .btn {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 24px;
  font-family: "Gotham";
  font-size: 16px;
  font-weight: 700;
  padding: 10px 16px;
}
.configuracion .text-danger {
  color: #FFFFFF !important;
  font-size: 20px;
}

.calendario .imagen-oscura {
  filter: brightness(0.4); /* Reduce el brillo al 50% */
  border-radius: 2.5rem 2.5rem 0 0;
}
.calendario .buscar-btn {
  position: relative;
  /* Estilo básico para el contenedor del botón */
  /* Cambia la imagen al hacer hover */
  /* Cambia la imagen al hacer clic */
}
.calendario .buscar-btn .search-btn {
  margin-top: 3rem;
  width: 27rem; /* Ajusta el tamaño según tus necesidades */
  height: 3.5rem; /* Ajusta el tamaño según tus necesidades */
  border: none;
  cursor: pointer;
  border-radius: 5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor del botón */
  transition: all 0.3s ease; /* Transición suave para el hover */
}
.calendario .buscar-btn .search-btn:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5); /* Sombra más fuerte en hover */
}
.calendario .buscar-btn .search-btn:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra reducida al hacer clic */
}
.calendario .fa-search,
.calendario .fa-times {
  font-size: 2rem;
}
.calendario .ico-buscar {
  position: absolute;
  right: 35rem;
  top: 10.8rem;
}
.calendario .ico-salir {
  position: absolute;
  right: 12rem;
  top: 10.8rem;
}
.calendario .card-text {
  font-size: 2.5rem;
  font-family: "CoprAltBlack", sans-serif;
  text-align: center;
  color: #868686;
}
.calendario .calen-card {
  position: relative;
  box-shadow: -10px 10px 5px -2px rgba(0, 0, 0, 0.26);
  border-radius: 2.5rem 2.5rem 0 0;
}
.calendario .calendario-fecha {
  position: absolute;
  top: 6rem;
  left: 11rem;
  font-size: 7rem;
  color: white;
  font-weight: 500;
  line-height: 5rem;
}
.calendario .botn-calendario {
  display: flex;
  justify-content: center;
}
.calendario .btn-card-cal {
  background-color: #FD000D;
  width: 60%;
  font-family: "CoprAltBlack", sans-serif;
  font-size: 1.8rem;
  color: white;
  border-radius: 2rem;
  border: 0rem;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/Gold-Bold.otf') format('opentype'), url('../fonts/Gold-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Golda";
  src: url('../fonts/Golda.otf') format('opentype'), url('../fonts/Golda.ttf') format('truetype');
}
@font-face {
  font-family: "Barlow-Regular";
  src: url('../fonts/Barlow-Regular.otf') format('opentype'), url('../fonts/Barlow-Regular.ttf') format('truetype');
}
.eventos {
  background-image: url(../img/Eventos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.eventos .mt-e {
  margin-top: 10rem;
}
.eventos h2 {
  font: normal normal bold 7rem/5rem Golda;
  letter-spacing: 0.32rem;
  color: #FFFFFF;
  opacity: 1;
}
.eventos p {
  font-family: "Barlow", serif;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 47%;
}
.eventos .card {
  border-radius: 25px !important;
  overflow: hidden; /* Evita desbordamientos */
}
.eventos .card .card-imagen {
  overflow: hidden; /* Oculta partes fuera del contenedor */
  position: relative;
  width: 100%;
  height: 23.3rem;
}
.eventos .card .card-imagen img {
  border-radius: 25px 25px 0 0;
  object-fit: cover; /* Ajusta la imagen */
  transition: transform 0.3s ease; /* Animación más fluida */
}
.eventos .card .card-imagen:hover img {
  transform: scale(1.2); /* Escala la imagen al pasar el mouse */
}
.eventos .card-eventos {
  top: 33rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.eventos .card-eventos .card-title {
  font: normal normal bold 2.5rem/3.5rem Golda;
  color: #FB0000;
  opacity: 1;
}
.eventos .card-eventos .card-text {
  font: normal normal bold 15px/35px Barlow-Regular;
  letter-spacing: 0px;
  color: #848484;
  width: 100%;
}
.eventos .card-eventos .btn-evento button {
  border-radius: 15px;
  width: 28%;
  padding: 10px 0;
  background-color: #FB0000;
  border: none;
  color: #FFFFFF;
  transition: background-color 0.3s ease; /* Transición suave */
}
.eventos .card-eventos .btn-evento button:hover {
  background-color: #FFFFFF;
  color: #FB0000; /* Cambia el color del texto al hacer hover */
  border: 1px solid #FB0000;
}

.mb-j {
  margin-bottom: 16rem;
}

@font-face {
  font-family: "Golda";
  src: url('../fonts/Golda.otf') format('opentype'), url('../fonts/Golda.ttf') format('truetype');
}
@font-face {
  font-family: "Barlow-Regular";
  src: url('../fonts/Barlow-Regular.otf') format('opentype'), url('../fonts/Barlow-Regular.ttf') format('truetype');
}
:root {
  --primary-color: rgba(8, 8, 0, 1);
  --secondary-color: rgba(147, 146, 135, 1);
  --hover-transform: translateY(20px);
}

.juego {
  background-image: url(../img/Eventos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.juego .titulo-2 {
  margin-top: 17rem;
}
.juego .titulo-2 h2 {
  font: normal normal bold 36px/120px Golda;
  letter-spacing: 0.36px;
  color: #EADC75;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  text-transform: uppercase;
  opacity: 1;
}
.juego .titulo-2 h3 {
  font: normal normal bold 90px/110px Golda;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.juego .titulo-2 p {
  font: normal normal bold 26px/30px Barlow-Regular;
  letter-spacing: 0.36px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
}
.juego .img-juego-c {
  margin-top: 12rem;
}

.juegos .sec-juegos {
  margin: 10rem 0;
}
.juegos .card {
  width: 90%;
  max-width: 300px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: linear-gradient(263deg, rgb(2, 0, 36) 5%, rgb(9, 9, 121) 48%, rgb(0, 212, 255) 96%);
  position: relative;
}
.juegos .card .img-transicion {
  display: flex;
  justify-content: end;
}
.juegos .card .back {
  width: 50px;
  opacity: 0;
}
.juegos .card img {
  width: 90px;
  object-fit: cover;
  transition: transform 0.5s ease, scale 0.5s ease;
  position: absolute;
  top: 1rem;
}
.juegos .card:hover img {
  transform: rotate(-50deg) scale(1.5);
}
.juegos .card:hover .back {
  opacity: 1;
  right: -5rem;
  top: 5rem;
}
.juegos .card .card-content {
  margin-top: 40px;
  padding: 26px;
}
.juegos .card .card-title {
  font-family: "Golda", serif;
  font-size: 2.5rem;
  margin: 0;
}
.juegos .card .card-subtitle {
  font-family: "Barlow-Regular", serif;
  font-size: 2rem;
  margin: 8px 0;
  color: #ffffff;
}
.juegos .card .card-footer {
  padding: 16px;
  background-color: #f0f0f0;
  font-size: 0.9em;
  color: #555;
}
.juegos .card-2 {
  background: linear-gradient(263deg, var(--primary-color) 0%, var(--secondary-color) 48%);
}
.juegos .card-2 .carta,
.juegos .card-2 .carta2,
.juegos .card-2 .carta3 {
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease, z-index 0.2s;
  z-index: 2;
}
.juegos .card-2 .carta {
  width: 80px;
  transform: rotate(-35deg);
  z-index: 3;
  top: -8px;
}
.juegos .card-2 .carta2 {
  opacity: 0;
  width: 50px;
  transform: rotate(-40deg);
  right: 15px;
}
.juegos .card-2 .carta3 {
  opacity: 0;
  width: 50px;
  transform: rotate(-10deg);
  right: 8rem;
  top: -15px;
}
.juegos .card-2:hover .carta, .juegos .card-2:hover .carta2, .juegos .card-2:hover .carta3 {
  opacity: 1;
}
.juegos .card-2:hover .carta {
  transform: var(--hover-transform);
}
.juegos .card-2:hover .carta2 {
  z-index: 1;
}
.juegos .card-2:hover .carta3 {
  z-index: 0;
}
.juegos .card-2 .card-content {
  margin-top: 40px;
  padding: 26px;
}
.juegos .card-2 .card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.juegos .card-2 .card-subtitle {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.juegos .card-3 {
  background: linear-gradient(263deg, rgb(36, 36, 0) 0%, rgb(247, 232, 7) 48%, rgb(247, 232, 7) 84%);
}
.juegos .card-3 img {
  width: 250px;
  position: absolute;
  top: -90px;
  right: -108px;
}
.juegos .card-3 .card-content {
  margin-top: 40px;
  padding: 26px;
}
.juegos .card-3 .card-title {
  font-size: 2rem;
}
.juegos .card-3 .card-subtitle {
  line-height: 20px;
}

@font-face {
  font-family: "CBold";
  src: url('../fonts/CorporativeBold.otf') format('opentype'), url('../fonts/CorporativeBold.ttf') format('truetype');
}
.juegoCasino {
  background-image: url("../img/GalletaCasino XD.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*modal*/
  /* Modal - contenedor principal */
  /* Mostrar el modal */
  /* Contenido del modal */
  /* Botón de cerrar */
}
.juegoCasino .mt-6 {
  margin-top: 9rem;
}
.juegoCasino .casino {
  background-color: #FB0000;
  width: 22%;
  height: 5rem;
  font-size: 2.5rem;
  border-radius: 20px;
}
.juegoCasino .casino_back {
  margin-top: 3rem;
  border: 1px solid #FB0000;
  background-color: #FFFFFF;
  color: #FB0000;
  width: 14%;
  height: 5rem;
  font-size: 2.5rem;
  border-radius: 20px;
}
.juegoCasino .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Oscurecer el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.juegoCasino .modal.show {
  visibility: visible;
  opacity: 1;
}
.juegoCasino .modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: 470px;
  width: 715px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.juegoCasino .modal-content .letra-casino {
  /* centrado*/
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.juegoCasino .modal-content p {
  color: #FB0000;
  font-size: 25px;
  font-family: "CBold";
  line-height: 25px;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.juegoCasino .modal-content .underline-input {
  border: none; /* Elimina el borde predeterminado */
  border-bottom: 2px solid rgba(0, 0, 0, 0.1607843137); /* Línea inferior */
  outline: none; /* Elimina el borde al hacer clic */
  width: 60%; /* Ajusta el ancho según tu necesidad */
  padding: 5px 0; /* Espaciado interno */
  font-size: 16px; /* Tamaño de texto */
  transition: border-color 0.3s ease; /* Animación al interactuar */
  text-align: center;
}
.juegoCasino .modal-content .underline-input:focus {
  border-bottom: 2px solid #007BFF; /* Cambia el color de la línea al enfocar */
}
.juegoCasino .modal-content .sub-titulo {
  color: #1D1D1D;
  font-size: 15px;
  font-family: "CBold";
  line-height: 15px;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.juegoCasino .modal-content .botonera {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.juegoCasino .modal-content .botonera .btn-participar {
  background-color: #FB0000;
  height: 3rem;
  font-size: 17px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}
.juegoCasino .modal-content .botonera .btn-regresar {
  border: 1px solid #FB0000;
  background-color: #FFFFFF;
  color: #FB0000;
  font-size: 1.5rem;
  border-radius: 20px;
}
.juegoCasino .btn-close {
  position: absolute;
  top: 0;
  right: 11px;
  background: #FB0000;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}
.juegoCasino .btn-close .fa-times {
  font-size: 15px;
}

.footer-alicorp h3 {
  font: normal normal bold 70px/50px Golda;
  letter-spacing: 0.8px;
  color: #FB0000;
  opacity: 1;
}
.footer-alicorp .logo-alicorp {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
}
.footer-alicorp .logo-alicorp img {
  width: 150px;
  height: 150px;
}
.footer-alicorp h4 {
  color: #ffffff;
  font-size: 1.6rem;
}
.footer-alicorp .redes-sociales {
  color: #ffffff;
  font-size: 1.6rem;
}
.footer-alicorp .service_client,
.footer-alicorp .contact {
  margin-top: 20px;
  line-height: 5px;
}
.footer-alicorp .service_client p,
.footer-alicorp .contact p {
  color: #ffffff;
}
.footer-alicorp .contact {
  margin-top: 8px;
}
.footer-alicorp .separador-pie {
  border: none;
  height: 2px;
  background-color: white;
}

@font-face {
  font-family: "CBlack";
  src: url('../fonts/CorporativeBlack.otf') format('opentype'), url('../fonts/CorporativeBlack.ttf') format('truetype');
}
@font-face {
  font-family: "CBold";
  src: url('../fonts/CorporativeBold.otf') format('opentype'), url('../fonts/CorporativeBold.ttf') format('truetype');
}
@font-face {
  font-family: "CoprAltMed";
  src: url('../fonts/CorporativeAltMedium.otf') format('opentype'), url('../fonts/CorporativeAltMedium.ttf') format('truetype');
}
@font-face {
  font-family: "CoprAltBlack";
  src: url('../fonts/CorporativeAltBlack.otf') format('opentype'), url('../fonts/CorporativeAltBlack.ttf') format('truetype');
}
@font-face {
  font-family: "Barlow-Regular";
  src: url('../fonts/Barlow-Regular.otf') format('opentype'), url('../fonts/Barlow-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Golda";
  src: url('../fonts/Golda.otf') format('opentype'), url('../fonts/Golda.ttf') format('truetype');
}
.separador {
  margin-bottom: 300px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*Resets para rems - 62.5% = 10px de 16px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.bg-principal {
  background-color: #FD000D !important;
}

.cabecera {
  background-color: black;
}
.cabecera .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.cabecera .logo-main {
  margin-left: 10rem;
  max-width: 15rem;
  height: auto;
}
.cabecera li a:hover {
  color: #FD000D !important;
}

.cabecera2 {
  background-color: #FD000D;
}
.cabecera2 .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.cabecera2 .navbar {
  height: 70px;
}
.cabecera2 .logo-main {
  margin-left: 10rem;
  max-width: 15rem;
  height: auto;
}

.cabecera3 {
  background-color: white;
}
.cabecera3 .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.cabecera3 .navbar {
  height: 70px;
}
.cabecera3 .navbar .logo-main {
  margin-left: 30px;
}
.cabecera3 .logo-main {
  margin-left: 10rem;
  max-width: 15rem;
  height: auto;
}
.cabecera3 .navbar.nav-contact {
  box-shadow: 5px 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.cabecera3 img {
  margin-left: 20px;
}

.hero_p {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100vh;
}
.hero_p .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.heroe-logueado {
  /* Botones de navegación */
  /* Posiciona el botón "Anterior" al lado izquierdo */
  /* Posiciona el botón "Siguiente" al lado derecho */
  /* Efecto al pasar el mouse sobre los botones */
}
.heroe-logueado .carousel {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.heroe-logueado .carousel-inner {
  position: relative;
  height: auto;
}
.heroe-logueado .carousel-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.heroe-logueado .carousel-item.active {
  display: block;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heroe-logueado img {
  width: 100%;
  height: auto;
  display: block;
}
.heroe-logueado button.prev,
.heroe-logueado button.next {
  position: absolute;
  top: 50%;
  /* Centra el botón verticalmente */
  transform: translateY(-50%);
  /* Ajusta el centro del botón */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semitransparente */
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  /* Asegura que los botones estén encima de las imágenes */
  outline: none;
}
.heroe-logueado button.prev {
  left: 10px;
}
.heroe-logueado button.next {
  right: 10px;
}
.heroe-logueado button.prev:hover,
.heroe-logueado button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators [data-bs-target] {
  border-radius: 0px !important;
  height: 9px !important;
  margin-left: 30px;
  margin-right: 30px;
  width: 53px;
}

/*menu principal*/
#openModalBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

li .submenu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
}
li .submenu ul li {
  display: block;
}

li.submenu:hover ul {
  display: block;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 2.6rem;
  font-family: "CoprAltBlack";
  color: white !important;
  font-weight: 900;
}

.navbar {
  padding: 10px;
  height: 70px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

/*menu princioal*/
.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.dropdown .show {
  display: block;
}

.dropdown li a {
  display: block;
  color: white;
  text-decoration: none;
}

.dropdown li a:hover {
  color: #FD000D !important;
}

.dropdown-btn.active,
.dropdown1-btn.active {
  color: #FD000D;
  font-family: "CBold";
  font-weight: bolder;
  text-decoration: underline #FD000D;
}
.dropdown-btn.active .icono,
.dropdown1-btn.active .icono {
  transform: rotate(180deg);
}

.dropdown-btn .icono,
.dropdown1-btn .icono {
  margin-left: 10px;
  /* Separación entre texto e icono */
}

.dropdown1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.dropdown1 li a {
  display: block;
  color: white;
  text-decoration: none;
}

.dropdown1 li a:hover {
  color: #FD000D !important;
}

.content {
  padding: 15px;
}

.expanded {
  max-height: 200px;
  /* Ajusta la altura según el número de elementos */
}

.perfil {
  width: 150px;
  font-family: "CBold";
  color: white;
}
.perfil .btn {
  transition: none;
}
.perfil .btn-primary {
  background-color: white;
  color: #FD000D;
  border-radius: 1rem;
  border-color: #FD000D;
  font-size: 1.5rem;
}
.perfil i {
  font-size: 2.5rem;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

/*bloque 2  ojo polanca*/
.bloque2 {
  background-image: url(../img/seccion2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.bloque2 .botones {
  bottom: 250px;
}
.bloque2 .owl-carousel {
  position: relative;
}
.bloque2 .owl-carousel .owl-item {
  margin-left: 10px;
  margin-right: 10px;
}
.bloque2 .owl-theme .owl-nav [class*=owl-] {
  color: #EFB810 !important;
  background: transparent;
  font-size: 10rem;
}
.bloque2 .owl-nav {
  position: absolute;
  top: 22rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.bloque2 .owl-dots {
  position: absolute;
  top: 34rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.bloque2 .owl-next {
  background: transparent;
}
.bloque2 .logos-marcas {
  bottom: 150px;
}
.bloque2 .logos-marcas .sombras {
  position: relative;
  left: 68px;
}
.bloque2 .promociones {
  position: absolute;
  left: 170px;
}
.bloque2 .promociones .p1,
.bloque2 .promociones .p2 {
  font-family: "CBold";
  color: white;
  font-weight: bolder;
}
.bloque2 .promociones .p1 {
  font-size: 6.5rem;
}
.bloque2 .promociones .p2 {
  font-size: 5rem;
  position: relative;
  bottom: 37px;
}
.bloque2 .promociones hr {
  position: relative;
  bottom: 37px;
  color: white;
  height: 8px;
  max-width: 250px;
  opacity: 1;
}

.carusel-home {
  overflow: hidden;
}
.carusel-home .image-1 {
  position: relative;
}
.carusel-home .image-1 .fondo {
  border-radius: 10rem;
  transform: scale(0.7);
}
.carusel-home .image-1 .margarita {
  width: 38rem;
  left: 9rem;
  transform: rotate(-37deg);
  top: 21rem;
}
.carusel-home .image-1 .tentacion {
  width: 38rem;
  left: 11rem;
  transform: rotate(12deg);
  top: 55rem;
}
.carusel-home .image-1 .chocobum {
  width: 36rem;
  transform: rotate(-22deg);
  right: 4rem;
  top: 12rem;
}
.carusel-home .image-1 .glacitas {
  width: 36rem;
  transform: rotate(-22deg);
  right: 5rem;
  top: 53rem;
}
.carusel-home .image-1 .alexa {
  width: 14rem;
  left: 11rem;
  transform: rotate(25deg);
  top: 7rem;
}
.carusel-home .image-1 .iPhone {
  width: 18rem;
  transform: rotate(6deg);
  right: 16rem;
  top: 36rem;
}
.carusel-home .image-1 .logo {
  width: 65rem;
  top: -21rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.carusel-home .image-1 .CopyBajada {
  width: 55rem;
  top: 19rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.carusel-home .image-1 .Watch {
  opacity: 0;
  visibility: hidden; /* Oculta pero mantiene el espacio */
  transition: opacity 0.6s ease-in-out; /* Agrega transición */
}
.carusel-home .image-1:hover .fondo {
  transform: scale(1);
  border-radius: 0;
}
.carusel-home .image-1:hover .logo {
  top: -48rem;
}
.carusel-home .image-1:hover .CopyBajada {
  top: -1rem;
}
.carusel-home .image-1:hover .alexa {
  transform: translate(80px, 100px) scale(2) rotate(-35deg);
  transition: all 0.6s ease-in-out;
}
.carusel-home .image-1:hover .iPhone {
  transform: translate(-10px, -150px) scale(2) rotate(350deg);
  transition: all 0.6s ease-in-out;
}
.carusel-home .image-1:hover .Watch {
  opacity: 1;
  visibility: visible;
  width: 10rem;
  left: 15rem;
  bottom: 20rem;
  transform: rotate(-70deg);
  transition: all 0.6s ease-in-out;
}
.carusel-home .image-1:hover .margarita,
.carusel-home .image-1:hover .tentacion,
.carusel-home .image-1:hover .chocobum,
.carusel-home .image-1:hover .glacitas {
  position: absolute;
  width: 20rem; /* Ajusta el tamaño si es necesario */
  transition: all 0.6s ease-in-out;
  transform: rotate(4deg);
}
.carusel-home .image-1:hover .margarita {
  top: 65%;
  left: 30rem;
}
.carusel-home .image-1:hover .tentacion {
  top: 65%;
  left: 55rem;
}
.carusel-home .image-1:hover .chocobum {
  top: 65%;
  left: 80rem;
}
.carusel-home .image-1:hover .glacitas {
  top: 65%;
  left: 105rem;
}
.carusel-home .image-2 {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.carusel-home .image-2 .fondo {
  width: 120rem;
  height: 60rem;
  object-fit: cover; /* Recorta la imagen sin deformarla */
  object-position: center; /* Centra el recorte */
  border-radius: 2.5rem 2.5rem 0 0; /* Opcional: esquinas redondeadas */
  margin-top: 2.5rem;
}
.carusel-home .image-2 .dvicttorio2 {
  visibility: hidden;
  bottom: -21rem;
}
.carusel-home .image-2 .dvicttorio4 {
  width: 12rem;
  height: 15rem;
}
.carusel-home .image-2 .dvicttorio5-i,
.carusel-home .image-2 .dvicttorio5-d {
  width: 7rem;
  height: 18rem;
}
.carusel-home .image-2 .dvicttorio4 {
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}
.carusel-home .image-2 .dvicttorio5-i {
  transform: rotate(-33deg);
  top: 21rem;
  left: 65rem;
}
.carusel-home .image-2 .dvicttorio5-d {
  transform: rotate(33deg);
  top: 21rem;
  right: 65rem;
  z-index: 1;
}
.carusel-home .image-2 .dvicttorio3 {
  width: 32rem;
  top: 7rem;
}
.carusel-home .image-2 .dvicttorio6 {
  width: 32rem;
  bottom: 7rem;
}
.carusel-home .image-2 .billetes_22 {
  filter: blur(3px);
  width: 24rem;
  left: 10rem;
  top: 6rem;
}
.carusel-home .image-2 .billetes_07 {
  filter: blur(3px);
  width: 25rem;
  left: 6rem;
  bottom: -11rem;
}
.carusel-home .image-2 .billetes_20 {
  filter: blur(3px);
  width: 21rem;
  right: 24rem;
  top: 13rem;
}
.carusel-home .image-2 .billetes_08 {
  filter: blur(4px);
  width: 16rem;
  right: 22rem;
  top: 31rem;
}
.carusel-home .image-2 .billetes_04 {
  filter: blur(4px);
  width: 16rem;
  right: 22rem;
  top: 53rem;
  transform: rotate(-34deg);
}
.carusel-home .image-2 .billetes_13 {
  filter: blur(5px);
  left: 36rem;
  width: 13rem;
  top: 14rem;
}
.carusel-home .image-2 .billetes_09 {
  filter: blur(5px);
  left: 36rem;
  width: 13rem;
  top: 37rem;
}
.carusel-home .image-2 .dvicttorio4hi,
.carusel-home .image-2 .dvicttorio5hi,
.carusel-home .image-2 .dvicttorio4hd,
.carusel-home .image-2 .dvicttorio5hd {
  visibility: hidden;
}
.carusel-home .image-2:hover .fondo {
  transform: scale(1);
  width: 100%;
  margin-top: 0;
  border-radius: 0;
}
.carusel-home .image-2:hover .dvicttorio4,
.carusel-home .image-2:hover .dvicttorio5-i,
.carusel-home .image-2:hover .dvicttorio5-d {
  display: none;
}
.carusel-home .image-2:hover .dvicttorio3 {
  transform: translateY(8rem);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out; /* Agrega transición */
}
.carusel-home .image-2:hover .dvicttorio6 {
  visibility: hidden;
}
.carusel-home .image-2:hover .dvicttorio2 {
  width: 50rem;
  visibility: visible;
  transform: translateY(-30rem);
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_22 {
  filter: blur(5px);
  transform: translate(14rem, 29rem) rotate(180deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_07 {
  filter: blur(5px);
  transform: translate(105.4rem, -14rem);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_20 {
  filter: blur(5px);
  transform: translate(0, 34rem);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_04 {
  width: 10rem;
  filter: blur(5px);
  transform: translate(-63.6rem, -33rem) rotate(50deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_13 {
  filter: blur(5px);
  transform: translate(63.6rem, 3rem) rotate(50deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_09 {
  filter: blur(5px);
  transform: translate(73.6rem, -13rem) rotate(50deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .billetes_08 {
  filter: blur(6px);
  transform: translate(-103.6rem, -13rem) rotate(50deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .dvicttorio4hd,
.carusel-home .image-2:hover .dvicttorio5hd,
.carusel-home .image-2:hover .dvicttorio4hi,
.carusel-home .image-2:hover .dvicttorio5hi {
  visibility: visible;
  width: 7rem;
  height: 17rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.carusel-home .image-2:hover .dvicttorio4hd {
  width: 10rem;
  height: 14rem;
  transform: translate(30rem, -15rem) rotate(30deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .dvicttorio5hd {
  transform: translate(39rem, -2rem) rotate(65deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .dvicttorio4hi {
  width: 10rem;
  height: 14rem;
  transform: translate(-30rem, -15rem) rotate(-30deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-home .image-2:hover .dvicttorio5hi {
  transform: translate(-39rem, -2rem) rotate(-65deg);
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.carusel-nuevo .carusel-tamano {
  width: 80%;
}
.carusel-nuevo .g-carusel {
  top: 64px;
}
.carusel-nuevo .atras,
.carusel-nuevo .siguiente {
  color: #000;
  position: relative;
}
.carusel-nuevo .atras {
  left: -110px;
}
.carusel-nuevo .siguiente {
  right: -120px;
}

/*contacto*/
.contacto {
  background-color: #FD000D;
  display: flex;
  height: 100vh;
  align-items: center;
}
.contacto .formulario {
  margin: 0 auto;
  border: 1px solid white;
  padding: 35px;
  border-radius: 70px;
  width: 900px;
}
.contacto .formulario .contact-title {
  width: 47%;
}
.contacto .formulario .contact-title h2 {
  font-size: 58px;
  font-family: "CBold";
  font-weight: 900;
  color: white;
}
.contacto .formulario .contact-title h3 {
  position: relative;
  bottom: 21px;
  font-size: 40px;
  font-family: "CBold";
  font-weight: 900;
  color: white;
}
.contacto .formulario .contact-title .hr-contact {
  position: relative;
  bottom: 21px;
  border-top: 5px solid white;
  width: 30%;
}
.contacto .formulario label {
  font-size: 25px;
  font-family: "CBold";
  font-weight: 900;
  color: white;
}
.contacto .formulario input {
  border-radius: 25px;
  background-color: #FE4D56;
  border-color: #FE4D56;
  border: 1px solid #FE4D56;
}
.contacto .formulario textarea {
  height: 150px;
  border-radius: 25px;
  background-color: #FE4D56;
  border-color: #FE4D56;
  border: 1px solid #FE4D56;
}
.contacto .formulario .btn {
  font-size: 18px;
  font-family: "CBold";
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

/*perfil*/
.perfil2 {
  background-color: #FD000D;
  display: flex;
  height: 100vh;
  align-items: center;
}
.perfil2 .formulario {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1607843137);
  border-radius: 68px;
  opacity: 1;
  margin: 0 auto;
  border: 1px solid white;
  padding: 80px;
  width: 538px;
  height: 488px;
  padding-top: 35px;
}
.perfil2 .formulario .contact-title h2 {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3.6rem;
  color: #FB0000;
  opacity: 1;
  letter-spacing: 0.5px;
  text-align: center;
}
.perfil2 .formulario .contact-title h3 {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  color: #848484;
  text-align: center;
  letter-spacing: 0.2px;
  opacity: 1;
  font-size: 1.9rem;
}
.perfil2 .formulario button {
  cursor: pointer;
}
.perfil2 .formulario .btn {
  font-size: 18px;
  font-family: "CBold";
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.perfil2 .formulario .grupo-inicio {
  margin-top: 4rem;
}
.perfil2 .formulario .grupo-inicio .input-group {
  margin-bottom: 20px;
  position: relative;
}
.perfil2 .formulario .grupo-inicio .linea_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
  background-color: transparent;
}
.perfil2 .formulario .grupo-inicio input:focus {
  border-bottom: 1px solid #007bff;
}
.perfil2 .formulario .grupo-inicio .forget_pass {
  color: #4D4F5C;
  font-family: sans-serif;
  font-size: 1.2rem;
}
.perfil2 .formulario .grupo-inicio .btn_login .ing {
  width: 16rem;
  background-color: #FB0000;
  color: #ffffff;
}
.perfil2 .formulario .grupo-inicio .btn_login .reg {
  width: 16rem;
  border: 1px solid #FB0000;
  background-color: transparent;
}
.perfil2 .formulario .grupo-inicio .btn_login .reg a {
  text-decoration: none;
  color: #FB0000;
}
.perfil2 .formulario .grupo-inicio .redes_login h3 {
  color: #4D4F5C;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.perfil2 .formulario .grupo-inicio .redes_login .sesion img {
  width: 3rem;
  height: 3rem;
}

.exp {
  /*Cards*/
  /*fin de cards*/
  /* Botón para abrir el modal */
  /* Modal - contenedor principal */
  /* Mostrar el modal */
  /* Contenido del modal */
  /* Botón de cerrar */
}
.exp h2 {
  margin-top: 6rem;
  font-family: "Golda";
  color: #FFFFFF;
  font-size: 6rem;
}
.exp h3 {
  margin-top: 2rem;
  color: #FFFFFF;
  font-size: 2.9rem;
  font-family: "Barlow-Regular";
}
.exp .cards-grupo {
  margin-top: 5rem;
}
.exp .cards-grupo .card {
  border-radius: 1.25rem !important;
  transition: transform 0.6s ease;
  position: relative;
}
.exp .cards-grupo .card h5 {
  font-family: "Golda";
  color: #FB0000;
  font-weight: bolder;
  font-size: 2.3rem;
}
.exp .cards-grupo .card:hover {
  transform: rotate(-10deg);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(0, 123, 255) 80%);
}
.exp .cards-grupo .card:hover .imagenes-card,
.exp .cards-grupo .card:hover .card-body {
  transform: rotate(10deg);
}
.exp .cards-grupo .card .imagenes-card {
  height: 200px;
  position: relative;
}
.exp .cards-grupo .card .imagenes-card img {
  width: 140px;
  transition: visibility 0.3s ease, transform 0.3s ease;
}
.exp .cards-grupo .card .imagenes-card .img-pro-1,
.exp .cards-grupo .card .imagenes-card .img-pro-3,
.exp .cards-grupo .card .imagenes-card .img-pro-4,
.exp .cards-grupo .card .imagenes-card .img-pro-5,
.exp .cards-grupo .card .imagenes-card .img-pro-6 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.exp .cards-grupo .card .imagenes-card .img-pro-1 {
  opacity: 1;
  visibility: visible;
}
.exp .cards-grupo .card .imagenes-card .img-pro-2 {
  top: 120px;
}
.exp .cards-grupo .card .imagenes-card .img-pro-3,
.exp .cards-grupo .card .imagenes-card .img-pro-4,
.exp .cards-grupo .card .imagenes-card .img-pro-5,
.exp .cards-grupo .card .imagenes-card .img-pro-6 {
  visibility: hidden;
}
.exp .cards-grupo .card .imagenes-card .img-pro-4,
.exp .cards-grupo .card .imagenes-card .img-pro-5 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  transition: all 0.3s ease;
}
.exp .cards-grupo .card .imagenes-card .img-pro-6 {
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 50px;
  transition: all 0.3s ease;
}
.exp .cards-grupo .card:hover .imagenes-card .img-pro-1 {
  opacity: 0;
  visibility: hidden;
}
.exp .cards-grupo .card:hover .imagenes-card .img-pro-3 {
  opacity: 1;
  visibility: visible;
}
.exp .cards-grupo .card:hover .imagenes-card .img-pro-4 {
  visibility: visible;
  opacity: 1;
  width: 100px;
  left: 10px;
  top: 20px;
  transform: none;
}
.exp .cards-grupo .card:hover .imagenes-card .img-pro-5 {
  visibility: visible;
  opacity: 1;
  width: 50px;
  left: 20px;
  top: 120px;
  transform: none;
}
.exp .cards-grupo .card:hover .imagenes-card .img-pro-6 {
  visibility: visible;
  opacity: 1;
  width: 50px;
  top: 20px;
  right: 20px;
  transform: none;
}
.exp .cards-grupo .card:hover .card-title {
  color: #FFFFFF;
}
.exp .cards-grupo .card2 {
  z-index: 0;
}
.exp .cards-grupo .card2:hover {
  transform: rotate(10deg);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(0, 189, 182) 80%);
  transform-origin: center; /* Garantiza que la rotación se realice desde el centro */
}
.exp .cards-grupo .card2:hover .card-body, .exp .cards-grupo .card2:hover .imagenes-card {
  transform: rotate(-10deg);
}
.exp .cards-grupo .card2 .imagenes-card {
  height: 172px;
}
.exp .cards-grupo .card3:hover {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(253, 227, 0) 80%);
}
.exp .cards-grupo .card3 .imagenes-card {
  height: 170px;
}
.exp .cards-grupo .card3 .imagenes-card .img-pro-1,
.exp .cards-grupo .card3 .imagenes-card .img-pro-3 {
  width: 100px;
}
.exp .cards-grupo .card4:hover {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgb(0, 0, 0) 80%);
}
.exp .cards-grupo .card4 .imagenes-card {
  height: 170px;
}
.exp .cards-grupo .card4 .imagenes-card .img-pro-2 {
  top: 70px;
}
.exp .cards-grupo .card4 .imagenes-card .img-pro-1,
.exp .cards-grupo .card4 .imagenes-card .img-pro-2 {
  width: 80px;
}
.exp .cards-grupo .card4 .imagenes-card .img-pro-5,
.exp .cards-grupo .card4 .imagenes-card .img-pro-6 {
  height: 80px;
}
.exp .btn-open {
  padding: 6px 16px;
  background: #FB0000;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
.exp .btn-open:hover {
  background: #FF1010;
}
.exp .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Oscurecer el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1050; /* Asegúrate de que el modal esté en la parte superior */
}
.exp .modal.show {
  visibility: visible;
  opacity: 1;
}
.exp .modal-content {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 857px;
  height: 595px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.exp .modal-content img {
  border-radius: 15px;
}
.exp .modal-content h2 {
  color: #FB0000;
  font-family: "Gotham";
  font-size: 4rem;
}
.exp .modal-content p {
  color: #1D1D1D;
  font-size: 2rem;
}
.exp .modal-content .fa-calendar,
.exp .modal-content .fa-map-marker {
  color: #FB0000;
}
.exp .modal-content .vm {
  border-radius: 15px;
  background: #FB0000;
  width: 20% !important;
  padding: 10px 16px;
}
.exp .btn-close {
  top: 0px;
  right: 5px;
  background: #FB0000;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
}
.exp .btn-close .fa-times {
  font-size: 3rem;
  position: absolute;
  top: 0px;
  right: 5px;
}

.videos .carousel-v {
  position: relative;
  width: 500px;
  display: flex;
  overflow: hidden;
  margin-top: 4rem;
}
.videos .carousel-videos {
  display: flex;
  position: relative;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}
.videos .carousel-video {
  flex: 0 0 33.33%;
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.videos .carousel-video.main {
  transform: scale(1); /* Video principal crece */
  opacity: 1; /* Máxima visibilidad */
  z-index: 2; /* Asegura que esté encima */
}
.videos video {
  width: 100%;
  border-radius: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.videos .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.videos .carousel-button.left {
  left: 0px;
}
.videos .carousel-button.right {
  right: 0px;
}
.videos .trendy {
  font-family: "Golda";
  color: #FB0000;
  font-size: 5rem;
  transform: rotate(-10deg);
}
.videos .trendy-p {
  font-family: "Barlow-Regular";
  color: #848484;
  font-size: 2rem;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .bloque2 .cliente-1 {
    width: 25rem;
    height: auto;
    margin-bottom: 2rem;
  }
  .bloque2 .sombras {
    width: 40rem;
  }
}
@media screen and (min-width: 1400px) {
  .perfil2 .hola-perfil {
    bottom: -46px;
    left: 275px;
  }
}
@media screen and (min-width: 1900px) {
  .hola-perfil {
    bottom: -38px !important;
    left: 527px !important;
  }
}

/*# sourceMappingURL=style.css.map */
